<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :href %><br>
    <%= f.text_field :href %>
  </div>
  <div class="field">
    <%= f.label :visited_at %><br>
    <%= f.datetime_select :visited_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
